{% extends 'home/header.html' %}
{% load static %}



{% block title %}
Error
    
{% endblock title %}
    

{% block content %}
<head>
    <style>
        *{
            line-height: 4;
            letter-spacing: 1.3;
        }
    </style>
</head>
<div id="content">
    <div class="row" >
            <div class="span3" style=" height: 300px;">
                <img src="{% static 'home/images/sankofa.png' %}" alt="" style="width: 100%; height: 100%; object-fit: contain;">
            </div>
        <div class="span9" >
            <div class="headline1" style="font-size: 30px;">
            <h1>Sankofa... Go back and get it, Okay?</h1>
            </div>

            <h3>Its just a 404 Error!</h3>
            <h4>Its not a mistake to revisit the past </h4>
            <h5><a style="margin-left: 0; padding: 5px; margin-top: 30px;" class="btn btn-dark" href="{% url 'home:index' %}">Lets go back home</a></h5>
            
        </div>

    </div>
</div>




    
{% endblock content %}
    
