{% extends 'home/header.html' %}
{% load static %}


{% block title %}
Contact Us
    
{% endblock title %}
    


{% block content %}

<div id="content">
    <div class="row">
        <div class="span12">
            <div class="headline">
                <h1>Contact Us</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span6" >
            

            <div class="container" style="margin-left: 30px;">
                <h2 >
                    You may contact us on the following channels
                </h2>

                <p style="margin-top: 50px;">If you prefer to email us, please do so at info@africandesignmatters.com</p>
                
                
                <h3 style="font-size: 14px; margin: auto;">
                    <a href="http://instagram.com/africandesignmatters" class="text-light">
                        <i class="fa fa-instagram" style="font-size: 30px; color: #eee; margin-left: 10px;"></i>
                    </a>
                    <a href="http://twitter.com/africandesignmatters">
                        <i class="fa fa-twitter" style="font-size: 30px; color: #eee;margin-left: 10px;"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-facebook" style="font-size: 30px; color: #eee;margin-left: 10px;">
                
                        </i>
                    </a>
                    <a href="http://wwww.linkedin.com/in/simoncharwey">
                        <i class="fa fa-linkedin" style="font-size: 30px; color: #eee;margin-left: 10px;"></i>
                    </a>
                </h3>

                <h6 style="margin-top: 30px;">Thanks</h6>

               
            </div>
        </div>
    </div>



</div>
    
{% endblock content %}
    