{% extends 'home/header.html' %}
{% load static %}



{% block title %}
Copyright African Design Matters
    
{% endblock title %}
    


{% block content %}
<head>
    <style>
        *{
            line-height: 1.2;
            font-family: 'Poppins', sans-serif;
            box-sizing: border-box;
        }
    </style>
</head>
<div id="content">

    <div class="row">
        <div class="span12">
            <div class="container">
                <h1><span class="text-muted d-block text-center  d-sm-inline-block" style="font-size: 30px;">Copyright</span></h1>

            </div>
            
                    <div class="container">
                        <blockquote style="font-size: 18px;">All rights reserved. All material on this website remains the intellectual property
                            of the respective owners, unless
                            otherwise stated.
                        
                            <p>Simon Charwey and/or the team at African Design Matters do not accept liability for linked sites
                                and
                                their content.</p>
                            <p>
                                Anyone who wants to use the content on this site must write to the respective creative persons whose
                                works you intend to use. 
                            </p>
                        
                            <p>
                                The goal of this directory is to raising awareness, driving donations and sharing information in support of
                                diversity,
                            </p>
                        
                            <p>
                                equity and inclusion in design — while increasing visibility for underrepresented creative persons (Black,
                                Indigenous,
                        
                            </p>
                        
                            <p>
                                People of Colour, African descent and Africa-born).
                        
                            </p>
                             
                        </blockquote>
                    </div>
            
        </div>
    </div>

</div>
    
{% endblock content %}
    