a {
  text-decoration: none;
}


.header ul {
  /* background: darkorange; */
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.header li {
  color: #fff;
  /* background: #1c1c1c; */
  display: block;
  float: left;
  padding: 5px;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
  
.header li a {
  color: #fff;
}

.header li:hover,
.header li:focus-within {
  background: #eee;
  cursor: pointer;
}

.header li:focus-within a {
  outline: none;
}

.header  li ul {
  background: #1c1c1c;
  visibility: hidden;
  opacity: 0;
  min-width: 3rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 10px;
  left: 0;
  display: none;
}

.header  li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block
}

.header li ul li {
  clear: both;
  width: 100%;
}