{% extends 'home/header.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
{{form_title}}
{% endblock title %}



{% block content %}
<div id="content">
    <div class="container headline">
        <h1 class="center">{{form_header}}</h1>
    </div>

    <div class="container">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{form|crispy}}
            <button class="btn btn-black" type="submit">
                Send
            </button>
        </form>
    </div>
</div>

{% endblock content %}