{% extends 'studio/header.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
Add Image To Project: {{project.name}} 
    
{% endblock title %}



{% block content %}
<head></head>

<section id="project-image-form" style="margin: 70px; auto">
    <div class="container">
        <h2>Add an image to: </h2>
        <h1>{{project.name}}</h1>
        <form action="" class="form-body mt-5" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}

            <div class="container">
                <button class="badge badge-outline-success mt-3" type="submit">
                    Add
                </button>
            </div>
        </form>
    </div>


</section>
    
{% endblock content %}
    
    