{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {% block title %}

            {% endblock title %}
        </title>

        <!-- Jquery-ui -->
        <!-- <link rel="stylesheet" href="{% static 'home/assets/css/modish.css' %}"> -->
        <link rel="stylesheet" href="{% static 'home/jquery-ui/jquery-ui.min.css' %}">
        <link rel="stylesheet" href="{% static 'home/jquery-ui/jquery-ui.structure.min.css' %}">
        <link rel="stylesheet" href="{% static 'home/jquery-ui/jquery-ui.theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'home/jquery-ui/jquery-ui.min.css' %}">

        <!-- /// Google Fonts ////////  -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Prata">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Sacramento">

        <!-- /// FontAwesome Icons 4.3.0 ////////  -->
        <link rel="stylesheet" href="{% static 'home/assets/fonts/fontawesome/font-awesome.min.css' %} ">

        <!-- /// Custom Icon Font ////////  -->
        <link rel="stylesheet" href="{% static 'home/assets/fonts/iconfontcustom/icon-font-custom.css' %}">

        <!-- plugins:css -->
        <link rel="stylesheet"
            href="{% static 'dashboard/corona/assets/vendors/mdi/css/materialdesignicons.min.css' %} ">
        <link rel="stylesheet" href="{% static 'dashboard/corona/assets/vendors/css/vendor.bundle.base.css' %} ">
        <link rel="stylesheet" href="{% static 'home/css/header.css' %}">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <!-- <link rel="stylesheet" href="{% static 'dashboard/corona/assets/vendors/jvectormap/jquery-jvectormap.css' %} "> -->
        <link rel="stylesheet"
            href="{% static 'dashboard/corona/assets/vendors/flag-icon-css/css/flag-icon.min.css' %} ">
        <link rel="stylesheet"
            href="{% static 'dashboard/corona/assets/vendors/owl-carousel-2/owl.carousel.min.css' %} ">
        <link rel="stylesheet"
            href="{% static 'dashboard/corona/assets/vendors/owl-carousel-2/owl.theme.default.min.css' %} ">
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <!-- endinject -->
        <!-- Layout styles -->
        <link rel="stylesheet" href="{% static 'dashboard/corona/assets/css/style.css' %} ">
        <!-- End layout styles -->
        <link rel="shortcut icon" href="{% static 'dashboard/corona/assets/images/favicon.png' %} " />

        <link rel="stylesheet" href="{% static 'home/datatables/css/dataTables.bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'home/datatables/css/dataTables.jqueryui.min.css' %}">
        <link rel="stylesheet" href="{% static 'home/datatables/css/jquery.dataTables.min.css' %}">

    </head>

    <body>
        <div class="container-scroller">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar" style="margin-top: 20px;">
                <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
                   
                </div>
                <ul class="nav">

                    <li class="nav-item nav-category">
                        <span class="nav-link">Navigation</span>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" href="{% url 'home:index' %}">
                            <span class="menu-icon">
                                <i class="mdi mdi-speedometer"></i>
                            </span>
                            <span class="menu-title">Main Site</span>
                        </a>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" href="{% url 'dashboard:add_about_note' %}">
                            <span class="menu-icon">
                                <i class="mdi mdi-speedometer"></i>
                            </span>
                            <span class="menu-title">About Us Info</span>
                        </a>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" href="{% url 'dashboard:new_resource' %}">
                            <span class="menu-icon">
                                <i class="mdi mdi-speedometer"></i>
                            </span>
                            <span class="menu-title">New Resource</span>
                        </a>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" href="{% url 'dashboard:new_press' %}">
                            <span class="menu-icon">
                                <i class="mdi mdi-speedometer"></i>
                            </span>
                            <span class="menu-title">New Press</span>
                        </a>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false"
                            aria-controls="ui-basic">
                            <span class="menu-icon">
                                <i class="mdi mdi-laptop"></i>
                            </span>
                            <span>Projects</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="{% url 'dashboard:categories' %}">Categories</a></li>
                                <li class="nav-item"> <a class="nav-link"
                                        href="{% url 'dashboard:new_main_category' %}">New Main Category</a></li>
                                <li class="nav-item"> <a class="nav-link"
                                        href="{% url 'dashboard:main_categories' %}">New Sub-Category</a></li>
                                <li class="nav-item"> <a class="nav-link" href="{% url 'studio:categories' %}">Create Project</a></li>
                                <li class="nav-item"> <a class="nav-link" href="">My Projects</a></li>
                                <li class="nav-item"> <a class="nav-link" href="{% url 'dashboard:projects' %}">All Projects</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" href="{% url 'dashboard:new_post' %}">
                            <span class="menu-icon">
                                <i class="mdi mdi-playlist-play"></i>
                            </span>
                            <span>New Blog Post</span>
                        </a>
                    </li>
                    
                    
                    <li class="nav-item menu-items">
                        <a class="nav-link" href="{% url 'shop:products' %}">
                            <span class="menu-icon">
                                <i class="fa fa-shopping-cart"></i>
                            </span>
                            <span>Shop</span>
                        </a>
                    </li>

                    <li class="nav-item menu-items">
                        <a class="nav-link" data-toggle="collapse" href="#profile" aria-expanded="false"
                            aria-controls="auth">
                            <span class="menu-icon">
                                <i class="mdi mdi-security"></i>
                            </span>
                            <span class="menu-title">Users</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="profile">
                            <ul class="nav flex-column sub-menu">
                             
                                <li class="nav-item"> <a class="nav-link" href="{% url 'accounts:update_user' request.user.pk %}"> New Admin </a>
                                </li>
                                <li class="nav-item"> <a class="nav-link" href="{% url 'accounts:register' 'moderator' %}"> New Moderator</a>
                                </li>
                                <li class="nav-item"> <a class="nav-link" href="">Pending Activations</a>
                                </li>
                             
                            </ul>
                        </div>
                    </li>


                    
                </ul>
            </nav>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:partials/_navbar.html -->
                <nav class="navbar p-0 fixed-top d-flex flex-row" style="height: 100px; background-color: #000;">
                    <div style="width: 150px;"
                        class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                        <a class="navbar-brand " href="{% url 'home:index' %}"><img
                                src="{% static 'home/images/main_logo_white.png' %}" alt="logo"  style="width: 100%; height: 80px;"></a>
                    </div>
                    <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                        <button class="navbar-toggler navbar-toggler align-self-center" type="button"
                            data-toggle="minimize">
                            <span class="mdi mdi-menu"></span>
                        </button>
                        <ul class="navbar-nav w-100">
                            <li class="nav-item w-100">
                                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                                    <input type="text"  placeholder="Search products">
                                </form>
                            </li>
                        </ul>
                        <ul class="navbar-nav navbar-nav-right" style="margin-top: 20px;">
                            
                            <li class="nav-item nav-settings d-none d-lg-block">
                                <a class="nav-link" href="#">
                                    <i class="mdi mdi-view-grid"></i>
                                </a>
                            </li>
                            <li class="nav-item dropdown border-left">
                                <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#"
                                    data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-cogs"></i>

                                </a>
                                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                    aria-labelledby="messageDropdown">
                                    <h6 class="p-3 mb-0">Settings</h6>

                                    <a >

                                        <div >
                                            <a class="btn btn-light btn-sm" href="{% url 'accounts:change_password' %}">Change Password</a>

                                        </div>
                                    </a>


                                    <a class="dropdown-item preview-item">

                                        <div >

                                            <a class="btn btn-light" href="{% url 'accounts:update_user' request.user.pk %}">Update Account</a>


                                        </div>
                                    </a>
                                    

                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="{% url 'accounts:profile' %}">
                                    {{request.user.get_full_name}}
                                </a>

                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                                    <div class="navbar-profile">

                                        {% if request.user.photo %}
                                        <img class="img-xs rounded-circle" src="{{request.user.photo.url}}" alt="">
                                        {% endif %}

                                        <p class="mb-0 d-none d-sm-block navbar-profile-name">

                                            {% if request.user.is_student %}
                                            Student
                                            {% elif request.user.is_moderator %}
                                            Moderator
                                            {% elif request.user.is_superuser %}
                                            Admin
                                            {% endif %}
                                        </p>
                                        <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                    aria-labelledby="profileDropdown">
                                    <h6 class="p-3 mb-0">Profile</h6>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item preview-item">
                                        <div class="preview-thumbnail">
                                            <div class="preview-icon bg-dark rounded-circle">
                                                <i class="mdi mdi-settings text-success"></i>
                                            </div>
                                        </div>
                                        <div class="preview-item-content">

                                            {% if request.user.is_authenticated %}
                                            <p class="preview-subject mb-1">Status: Logged In</p>
                                            
                                            {% endif %}


                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>

                                    {% if request.user.is_authenticated %}
                                    <a class="dropdown-item preview-item" href="{% url 'accounts:logout' %}">
                                        <div class="preview-thumbnail">
                                            <div class="preview-icon bg-dark rounded-circle">
                                                <i class="mdi mdi-logout text-danger"></i>
                                            </div>
                                        </div>
                                        <div class="preview-item-content">
                                            <p class="preview-subject mb-1">Log out</p>
                                        </div>
                                    </a>

                                    
                                    {% endif %}


                                </div>
                            </li>
                        </ul>
                        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                            data-toggle="offcanvas">
                            <span class="mdi mdi-format-line-spacing"></span>
                        </button>
                    </div>
                </nav>
                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">
                       

                        {% block content %}

                        {% endblock content %}

                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:partials/_footer.html -->

                    {% block footer %}
                    <footer class="footer">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">
                            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright ©
                                africandesignmatters.com
                                2021</span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> <i
                                    class="fa fa-venus"></i> <a href="" target="_blank">African Design Matters</a>
                            </span>
                        </div>
                    </footer>
                    {% endblock footer %}

                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>


        {% block jquery %}
        <script src="{% static 'home/jquery/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'home/jquery-ui/jquery-ui.min.js' %}"></script>

        {% endblock jquery %}



        {% block jscript %}
        <script src="{% static 'home/aos/aos.js' %}"></script>
        <script>
            AOS.init();
        </script>
        <!-- plugins:js -->
       
         <script src="{% static 'dashboard/corona/assets/vendors/js/vendor.bundle.base.js' %} "></script> 
        <!-- endinject -->
        
        <script src="{% static 'dashboard/corona/assets/vendors/owl-carousel-2/owl.carousel.min.js' %} "></script>
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="{% static 'dashboard/corona/assets/js/off-canvas.js' %} "></script>
        <script src="{% static 'dashboard/corona/assets/js/hoverable-collapse.js' %} "></script>
        <script src="{% static 'dashboard/corona/assets/js/misc.js' %} "></script>
        <script src="{% static 'dashboard/corona/assets/js/settings.js' %} "></script>
        <script src="{% static 'dashboard/corona/assets/js/todolist.js' %} "></script>
        <!-- endinject -->
        <!-- Custom js for this page -->
        <script src="{% static 'dashboard/corona/assets/js/dashboard.js' %} "></script>
        <!-- End custom js for this page -->
        <script src="{% static 'home/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
        <script src="{% static 'home/datatables/js/jquery.dataTables.js' %}"></script>
        <script src="{% static 'home/datatables/js/dataTables.jqueryui.min.js' %}"></script>
     
        <!-- Plugin js for this page -->
        {% endblock jscript %}



        {% block javascript %}

        {% endblock javascript %}

        <!-- container-scroller -->

    </body>

</html>